.center
	.contacts
		i.fas.fa-bars.fa-2x
		h2 Contacts
		.contact
			.pic.rogers
			.badge 14
			.name Steve Rogers
			.message That is America's ass 🇺🇸🍑
		.contact
			.pic.stark
			.name Tony Stark
			.message Uh, he's from space, he came here to steal a necklace from a wizard.
		.contact
			.pic.banner
			.badge 1
			.name Bruce Banner
			.message There's an Ant-Man *and* a Spider-Man?
		.contact
			.pic.thor
			.name Thor Odinson
			.badge 3
			.message I like this one
		.contact
			.pic.danvers
			.badge 2
			.name Carol Danvers
			.message Hey Peter Parker, you got something for me?
	.chat
		.contact.bar
			.pic.stark
			.name Tony Stark
			.seen Today at 12:56
		#chat.messages
			.time Today at 11:41
			.message.parker Hey, man! What's up, Mr Stark? 👋
			.message.stark Kid, where'd you come from? 
			.message.parker Field trip! 🤣
			.message.parker Uh, what is this guy's problem, Mr. Stark? 🤔
			.message.stark Uh, he's from space, he came here to steal a necklace from a wizard.
			.message.stark
				.typing.typing-1
				.typing.typing-2
				.typing.typing-3
		.input
			i.fas.fa-camera
			i.far.fa-laugh-beam
			input type="text" placeholder="Type your message here!"
			i.fas.fa-microphone